html,body {
  height: 100%;
  background-color: rgb(181, 224, 116);
}

.fontSize {
  font-size: 20px;
}

.borderEntry {
  border: 1px solid rgb(2, 31, 2);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/img/entryImg.png");

  /* Add the blur effect */
  filter: blur(8px);

  /* Full height */
  height: 480px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

/* Style the buttons */
.btn2 {
  border: 1px solid rgb(2, 31, 2);
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .btn2:hover {
  background-color: rgb(74, 208, 226);
  color: white;
}
